<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#a47d3b" />

    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="manifest" href="./app.webmanifest" />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
  </head>

  <body>
    <a href="#mainContent" class="skip-link" id="skip-link">Skip To Content</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Hunger Apps</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://github.com/mluthfifrd" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </header>

    <div class="jumbotron">
      <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    </div>

    <main id="mainContent"></main>

    <footer>
      <p>Copyright &copy; 2023 - Hunger Apps</p>
    </footer>
  </body>
</html>
